html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Réinitialiser les styles par défaut des inputs et textareas */
input, textarea {
    border: none; /* Enlever les bordures */
    outline: none; /* Enlever les contours */
    background: none; /* Enlever l'arrière-plan */
    box-shadow: none; /* Enlever les ombres */
    padding: 0; /* Enlever le padding par défaut */
    margin: 0; /* Enlever les marges par défaut */
    resize: none; /* Empêcher le redimensionnement */
}

