@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import "reset.css";

:root {
    --primary-color: rgb(34, 45, 67);
    --secondary-color: rgb(76, 175, 223);
    --accentuated-color: rgb(255, 149, 0);
    --background-color: rgb(240, 240, 240);
    --box-color: rgb(184, 184, 184);
    --text-color: rgb(60, 60, 60);
    --secondaty-text-color: rgb(120, 120, 120);
}

html, body {
    font-family: 'SUSE', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header */

header {
    width: 100%;
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    background-color: white;
    z-index: 1000;
}

.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2rem;
}

.header-items .logo-name img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 1rem 1rem 1rem 0;
}

.logo-name {
    display: flex;
    align-items: center;
    flex: 0 0 300px;
}

.logo-name h1 {
    font-size: 1.2rem;
    font-weight: 800;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 1.2rem;
}

.btn-navbar {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.2rem 0;
}

.btn-navbar:hover {
    border-bottom: 1px solid black;
}

.navbar-contact {
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    flex: 0 0 300px;
}

.navbar-contact a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 2rem;
    background-color: var(--secondary-color);
    padding: 0.5rem 2rem;
    border: solid 1px var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.navbar-contact a:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.transparent-navbar {
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
    backdrop-filter: blur(10px);
}

/* carte-visite */

#devant-page {
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 3rem 0;
    margin-bottom: 5rem;
    margin-top: 80px;
}

.header-title {
    font-size: 1.2rem;
    font-weight: 100;
    padding: 3rem 0;
}

.header-title h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.separator {
    width: 100px;
    height: 1px;
    background-color: white;
    margin: 2rem auto;
    display: block;
}

#logo {
    width: 130px;
    height: 100px;
}

/* Section introduction */

#introduction {
    color: var(--primary-color);
    width: 70%;
    margin: 5rem auto 5rem auto;
    font-size: 2rem;
}

.title-introduction h3::before {
    content: "« ";
    color: var(--secondary-color);
}

.title-introduction h3::after {
    content: " »";
    color: var(--secondary-color);
}

.title-introduction h3 {
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;
}

.content-introduction {
    display: flex;
    align-items: flex-start;
    margin: auto;
    gap: 5rem;
}

.content-introduction-left {
    width: 30%;
}

.content-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.content-image a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.content-image a:hover {
    scale: 0.95;
    transition: all 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--secondary-color);
}

#profil {
    width: auto;
    height: 400px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#profil:hover {
    scale: 1.05;
    transition: all 0.3s;
}

.content-introduction-right {
    width: 60%;
}

.quality-boxs {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 0.6rem;
}

.quality {
    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    font-size: 1.2rem;
    text-align: center;
}

.quality:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    scale: 1.05;
    transition: all 0.3s;
}

.quality i {
    margin-bottom: 1rem;
}

.content-text p {
    text-align: justify;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.content-text a {
    flex: 1;
    text-align: justify;
    text-decoration: none;
    color: var(--secondary-color);
}

@media (max-width: 1440px) {
    #introduction {
        width: 80%;
        padding: 3rem 2rem;
    }

    .title-introduction h3 {
        font-size: 3rem;
    }

    .content-introduction {
        justify-content: center;
        gap: 3rem;
    }

    .content-introduction-right {
        width: 50%;
    }

    .content-text p {
        font-size: 1.2rem;
    }

    .quality-boxs {
        gap: 0.5rem;
    }

    .quality {
        height: 80px;
    }

    .quality i {
        margin-bottom: 0.5rem;
    }
}

/* Compétences */

.skills-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.skills-title h3::before {
    content: "« ";
    color: var(--secondary-color);
}

.skills-title h3::after {
    content: " »";
    color: var(--secondary-color);
}

.skills-title h3 {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

#competences-experiences {
    width: 60%;
    margin: auto;
    text-align: center;
}

.buttons {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 20px;
}

.buttons button {
    width: 20%;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 1rem 2rem;
    margin: 0 1rem;
    background-color: var(--secondary-color);
    border: solid 1px var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.buttons button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all 0.3s;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#competences-section .logos img,
#experiences-section ul li,
#scholarship-section ul li {
    margin: 10px;
    padding: 2rem;
}

#competences-section h3 {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem;
    margin-bottom: 2rem;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 calc(33.33% - 2rem);
    padding: 0 2rem;
}

.skill i {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.progress {
    height: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.skill p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

#experiences-section h3 {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem;
}

.experiences-boxs {
    width: 100%;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.experience {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    gap: 5rem;
    margin: 0 auto;
    padding-left: 10rem;
}

.year-work {
    width: 30%;
    text-align: left;
}

.work {
    width: 60%;
    text-align: left;
}

.experience p {
    margin-bottom: 0.5rem;
}

.experience a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}

.experience a:hover {
    text-decoration: underline;
}

#scholarship-section h3 {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem;
}

.scholarship-boxs {
    width: 100%;
    margin: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.scholarship {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    gap: 5rem;
    margin: 0 auto;
    padding-left: 3rem;
}

.school {
    width: 60%;
    text-align: left;
}

.scholarship p {
    margin-bottom: 0.5rem;
}

.scholarship a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
}

.scholarship a:hover {
    text-decoration: underline;
}

@media (max-width: 1440px) {
    #competences-experiences {
        width: 70%;
    }

    .skills-title {
        font-size: 2rem;
    }

    .img-skills {
        width: 200px;
        height: 200px;
    }

    .experience {
        padding-left: 7rem;
    }
    
}

/* Section projects */

#projets {
    width: 100%;
    color: var(--text-color);
    margin: 5rem auto 5rem auto;
    font-size: 2rem;
}

.title-projet h3::before {
    content: "« ";
    color: var(--secondary-color);
}

.title-projet h3::after {
    content: " »";
    color: var(--secondary-color);
}

.title-projet {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.content-projet {
    margin: 0;
    padding: 0;
}

.second-title-projet {
    width: 70%;
    font-size: 2rem;
    font-weight: 800;
    margin: 0rem auto 5rem auto;
}

.second-title-projet p {
    text-align: center;
}

.projets-boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7rem;
}

.projet {
    width: 37%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projet:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
}

.projet a {
    text-decoration: none;
    color: var(--text-color);
}

.projet-picture {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.projet-picture img {
    min-width: 100%;
    height: auto;
}

.projet-text {
    text-align: center;
    padding: 1rem;
}

.projet-text h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.projet-text p {
    font-size: 1.2rem;
    font-weight: 100;
}

/* Section Offre */

#offre {
    width: 100%;
    color: var(--text-color);
    margin: 5rem auto 0rem auto;
    font-size: 2rem;
}

.title-offre h3::before {
    content: "« ";
    color: var(--secondary-color);
}   

.title-offre h3::after {
    content: " »";
    color: var(--secondary-color);
}

.title-offre {
    width: 70%;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0 auto 2rem auto;
}

.text-offre{
    width: 70%;
    margin: auto auto 2rem auto;
    text-align: center;
}

.offre-boxs {
    width: 100%;
    padding: 2rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.offre {
    cursor: unset;
    width: 30%;
    border: solid 1px var(--box-color);
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.offre:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    scale: 1.05;
    transition: all 0.3s;
}

.number {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 0.6rem 1.1rem;
    margin: 0.5rem 0;
    display: inline-block;
}

.offre-text {
    text-align: center;
}

.offre-text-title {
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem 0;
}

.offre-text-description {
    font-size: 1.2rem;
    font-weight: 100;
    padding: 1rem 0.5rem;
}

.btn-rdv a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    font-size: 1.5rem;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    padding: 1rem 3rem;
}

.btn-rdv a:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    scale: 1.05;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-rdv:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

@media (max-width: 1440px) {
    .offre-boxs {
        gap: 3rem;
    }

    .offre {
        width: 30%;
        margin-bottom: 1rem;
    }
}

/* Section contact */

#contact {
    width: 70%;
    /* color: white; */
    margin: auto;
    padding: 5rem 5rem;
    font-size: 2rem;
}

.title-contact h3::before {
    content: "« ";
    color: var(--secondary-color);
}

.title-contact h3::after {
    content: " »";
    color: var(--secondary-color);
}

.title-contact {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.contact-content {
    display: flex;
    gap: 5rem;
}

.contact-request {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
}

.contact-request-title {
    font-size: 1.5rem;
}

.mail-request {
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mail-top {
    margin-bottom: 1rem;
}

.mail-bottom a {
    text-decoration: none;
    color: var(--primary-color);
}

.mail-bottom a:hover {
    text-decoration: underline;
}

.phone-request {
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.phone-top {
    margin-bottom: 1rem;
}

.phone-bottom a {
    text-decoration: none;
    color: var(--primary-color);
}

.phone-bottom a:hover {
    text-decoration: underline;
}

.contact-right-part {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 2rem;
}

.name-form, .email-form, .message-form, .send-form {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 0.5rem;
}

.name-form input,
.email-form input,
.message-form textarea {
    color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    padding: 1rem;
    font-size: 1.2rem;
    font-family: 'SUSE', sans-serif;
}

.send-form button {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 15px;
    padding: 1rem;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 800;
    transition: all 0.3s;
}

.send-form button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    scale: 0.95;
    transition: all 0.3s;
}


/* Footer */

footer {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-logos {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-logos i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Largeur du cercle */
    height: 50px; /* Hauteur du cercle */
    border: 1px solid white; /* Bordure blanche */
    border-radius: 50%; /* Crée un cercle */
    color: white; /* Couleur des icônes */
    font-size: 1.5rem; /* Taille des icônes */
    transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

.footer-logos i:hover {
    background-color: var(--secondary-color); /* Couleur de fond au survol */
}

.footer-logos a {
    text-decoration: none;
}

/* Incoming */

#en-developpement {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Hauteur de la section */
    text-align: center; /* Centrer le texte */
    padding: 2rem; /* Espacement interne */
}

.developpement-content {
    max-width: 600px; /* Largeur maximale du contenu */
    margin: auto; /* Centrer horizontalement */
    padding: 2rem; /* Espacement interne */
    border: 2px solid #ccc; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    background-color: #ffffff; /* Couleur de fond du contenu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
}

.developpement-content h2 {
    font-size: 2rem; /* Taille de la police pour le titre */
    margin-bottom: 1rem; /* Espacement en bas du titre */
}

.developpement-content p {
    font-size: 1.2rem; /* Taille de la police pour le paragraphe */
    color: #666; /* Couleur du texte */
}

/* First project PAGE */

#introduction-project {
    width: 100%;
    color: var(--text-color);
    margin: -7rem auto -5rem auto;
    padding: 10rem;
    font-size: 1.5rem;
}

#introduction-project h3::before {
    content: "« ";
    color: var(--secondary-color);
}

#introduction-project h3::after {
    content: " »";
    color: var(--secondary-color);
}

#introduction-project h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.img-csmfl-rpg {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#introduction-project img {
    width: 50%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#production {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 2rem;
}

#production h3::before {
    content: "« ";
    color: var(--secondary-color);
}

#production h3::after {
    content: " »";
    color: var(--secondary-color);
}

#production h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.video-projet-rpg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
}

.video-projet-rpg video {
    border-radius: 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Responsive */

@media (max-width: 1024px) {
    body {
        font-size: 0.9rem;
    }

    .header-title h1 {
        font-size: 2rem;
    }

    .btn-navbar {
        font-size: 1.2rem;
    }

    #introduction, #projets, #contact, #introduction-project, #production {
        padding: 3rem 2rem;
        font-size: 1.5rem;
        width: 90%;
        margin: 0 auto;
    }

    .title-introduction, .title-projet, .title-contact, #introduction-project h3, #production h3 {
        font-size: 2rem;
    }

    .projet-text h4 {
        font-size: 1.2rem;
    }

    .projet-text p {
        font-size: 1rem;
    }

    #contact {
        margin-bottom: 3rem;
    }

    .footer-content p {
        font-size: 1rem;
    }

    .footer-links a {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
    }

    #devant-page {
        margin-top: 0;
    }

    .header-items {
        position: relative;
        width: 100%;
        background-color: red;
        padding: 1rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-name {
        display: none;
    }

    .navbar-contact {
        display: none;
    }

    .navbar {
        display: none;
    }

    .header-title h1 {
        font-size: 1.5rem;
    }

    .btn-navbar {
        font-size: 1rem;
    }

    #devant-page {
        margin-bottom: 2rem;
    }

    #introduction {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .title-introduction h3 {
        font-size: 2rem;
    }

    .content-introduction {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-introduction-right {
        width: 100%;
    }

    .content-introduction-left {
        width: 100%;
    }

    .content-image img {
        width: 100%;
        height: auto;
        display: block;
    }

    .content-text {
        margin-bottom: -3rem;
    }

    .content-text p {
        font-size: 1.2rem;
    }

    #competences-experiences {
        width: 100%;
        margin-bottom: 2rem;
        margin: auto;
        padding: auto;
    }

    .skills-title h3 {
        font-size: 2rem;
        text-align: center;
    }

    .buttons {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        margin: auto;
        padding: auto;
        margin-left: 6px;
    }

    .buttons button {
        width: 100%;
        margin: auto;
    }

    #competences-section{
        width: 100%;
    }

    .logos {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    #experiences-section {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .experiences-boxs {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .experience {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 1rem;
        align-items: center;
    }

    .year {
        text-align: center;
    }

    .work {
        text-align: center;
    }

    #scholarship-section {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .scholarship-boxs {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .scholarship {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
        gap: 1rem;
        align-items: center;
    }

    .school {
        text-align: center;
    }

    .scholarship p {
        text-align: center;
    }

    #projets {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 2rem;
    }

    .title-projet h3 {
        font-size: 2rem;
    }

    .projet-text h4 {
        font-size: 1rem;
    }

    .projet-text p {
        font-size: 0.8rem;
    }

    .projets-boxs {
        gap: 3rem;
        padding: 0 1rem;
    }

    .projet {
        width: 100%;
    }


    #offre {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 2rem;
    }

    .title-offre h3 {
        font-size: 2rem;
    }

    .text-offre p {
        font-size: 1rem;
    }

    .offre-boxs {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 2rem;

    }

    .offre {
        width: 100%;
    }

    .btn-rdv {
        text-align: center;
    }

    #contact {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .title-contact h3 {
        font-size: 2rem;
    }

    .contact-content {
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .contact-request {
        width: 100%;
    }

    .contact-right-part {
        width: 100%;
    }

    #footer {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .footer-content p {
        font-size: 0.8rem;
    }

    .footer-links a {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.7rem;
    }

    .header-title h1 {
        font-size: 1.2rem;
    }

    .header-title h2 {
        font-size: 1.5rem;
    }

    #logo {
        width: 100px;
        height: 80px;
    }

    .btn-navbar {
        font-size: 0.8rem;
    }

    #introduction, #contact, #introduction-project, #production {
        padding: 3rem 1.5rem;
        font-size: 1rem;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    #introduction {
        margin-bottom: 3rem;
    }

    #projets {
        padding: 1rem 1rem;
        font-size: 1rem;
        width: 100%;
    }

    .projet {
        margin-bottom: 1rem;
    }

    #profil {
        display: none;
    }

    .title-introduction, .title-projet, .title-contact, #introduction-project h3, #production h3 {
        font-size: 1.2rem;
    }

    .second-title-projet {
        font-size: 1.2rem;
    }

    .projet-text h4 {
        font-size: 0.8rem;
    }

    .projet-text p {
        font-size: 0.7rem;
    }

    .projets-boxs:last-child {
        margin-bottom: 3rem;
    }

    #contact {
        margin-bottom: 3rem;
    }

    .footer-content p {
        font-size: 0.7rem;
        margin-bottom: 2rem;
    }

    .footer-links {
        gap: 1rem;
    }

    .footer-links a {
        font-size: 0.7rem;
    }
}